<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crunky.smartminifab">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <supports-screens
        android:resizeable="true"
       />

    <application
        android:name=".SmartMiniFab"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DevelopmentModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:name=".SeedBoxModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:name=".PlacementModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:name=".WarehouseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:name=".ErrorWindowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:name=".HelpWindowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
    </application>

</manifest>